*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    min-height: 100vh;
    padding: 30px;
    color: white;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

.cart-container{
    max-width: 600px;
    padding: 20px;
    margin: auto;
    background: #0b041f;
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.cartItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #1c041f;
}

.qtyBtn{
    padding: 4px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.total{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}

.clearBtn{
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 30px;
    background: rgb(0, 4, 36);
    color: white;
    font-weight: 600;
    cursor: pointer;
}