*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: linear-gradient(130deg, #0f2027, #203a43, #2c5364);
    min-height: 100vh;
    padding: 30px;
    color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 25px;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 1rem;
    backdrop-filter: blur(20px);
    margin-bottom: 30px;
    /* box-shadow: 0 2px 30px rgba(0, 27, 37, 0.25); */
}

.logo{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.cart-info{
    display: flex;
    align-items: center;
    gap: 15px;
}

.controls{
    display: flex;
    gap: 50px;
    align-items: center;
}
.cartCount{
    border-radius: 50px;
    background: #ff4b6d;
    padding: 6px 12px;
    font-size: 20px;
}

.search{
    width: 100%;
    padding: 12px;
    border-radius: 30px;
    border: none;
    outline: none;
    margin-bottom: 25px;
    font-size: 15px;
}

.products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.product{
    width: 230px;
    padding: 6px 12px;
    background: #3a505a;
    border-radius: 25px;
    /* box-shadow: 0 2px 30px rgba(255, 255, 255, 0.12); */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(12px);
    transition: transform 0.3s, box-shadow 0.3s;
}

.product:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.4);
}

.product img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 1rem;
}

.product h3{
    margin: 12px 0 6px;
    font-size: 50px;
    /* opacity: 75%; */
}

.product p{
    font-size: 50px;
    opacity: 75%;
}

.product button{
    width: 100%;
    padding: 6px 12px;
    border: none;
    border-radius: 1rem;
    background: #fff;
    color: black;
    cursor: pointer;
    margin-top: 2rem;
    transition: opacity 0.3s;
}


.cart{
    margin-top: 20px;
    background: rgb(110, 202, 255);
    padding: 12px 0 3px;
    border-radius: 2rem;
    font-size: 15px;
}

.cart h2{
    font-size: 20px;
}

.cartItems{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.remove{
    color: #ff4b6d;
    cursor: pointer;
    font-size: 30px;
}

.total{
    margin-top: 23px;
    font-size: 25px;
    font-weight: bold;
}

#remove button{
    border-radius: 10px;
}

a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}